
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: #ffffff;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  // width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

// 用于调整照片展示时的边界
form {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  button {
    margin-top: 2px;
  }
}

// 用于表格中的调整操作按键的GRID布局的间隔
.form-row, .form-group {
  a {
    margin-top: 3px;
    margin-right: 2px;
  }

}

// 用于调整“通用操作按键”中的COLLAPSE的边界
.form-row {
  padding-left: 5px;
  padding-right: 5px;
}

// 调整边界
#phone_call_record_editor, #inspection_status_editor {
  margin-left: 5px;
  margin-right: 5px;
}